body {
    background-color:rgba(247, 235, 237, 0.2);}

.header {
    position: fixed;
    top: 0px;
    left: 0px;
    padding: 30px;
    width: 100%;
    background-color:rgb(251, 245, 245, 0.9);
    box-shadow:0 5px 10px rgba(88, 86, 86, 0.19);
    }

    .content {font-size: 30px;

        margin: 25px;
        width: 50px;
        color:rgb(164, 62, 47);
        }

    #titlepic {position:fixed;
        width: 250px;
        height: 200px;
        top:-10px;
        left: 20px;
        }
    
    body {position:relative;top:180px;}

    .col-xs-9 {
        width: 75%;}

    .header_section_bottom_right #main_menu_under_header {
        position:fixed;
        left: 400px;
        top: 50%;
        transform: translateY(-50%);
    }

    .site-menu {
        position: relative;
        z-index: 99;
    }
    .menu-text {
        display: none;
        float: right;
        padding: 13px 20px;
        font-size: 16px;
        line-height: 24px;
    }
    .menu-bar ul {
        margin: 0;
        padding: 0;
        font-size: 0;
        list-style: none;
    }
    .menu-bar ul li {
        position: relative;
    }
    .menu-bar ul li a {
        display: block;
        text-decoration: none;
        line-height: 38px;
        font-size: 11px;
        font-weight: 400;
        font-family: Montserrat, sans-serif;
        text-transform: uppercase;
        letter-spacing: 2px;
        padding: 0 18px;
        color: #000;
        -moz-transition: all 0.25s ease-out; -webkit-transition: all 0.25s ease-out; transition: all 0.25s ease-out;
    }
    .menu-bar ul li a:hover {
        color: #999;
    }
    .menu-bar {
        height: auto;
    }
    .menu-bar ul ul {
        opacity: 0;
        visibility: hidden;
        -moz-transition: all 0.17s ease-out; -webkit-transition: all 0.17s ease-out; transition: all 0.17s ease-out;
        position: absolute;
        top: 38px;
        left: 0;
        width: auto;
        background: #fff;
        border: none;
        text-align: left;
    }
    .menu-bar ul ul ul {
        position: absolute;
        top: 0;
        left: 100%;
    }
    .menu-bar ul li:hover > ul {
        opacity: 1;
        visibility: visible;
    }
    .menu-bar > ul > li {
        display: inline-block;
    }
    .menu-bar ul ul li {
        display: block;
        padding: 0;
        border-right: none;
    }
    .menu-bar ul li ul a {
    line-height: 1.4;
    padding: 6px 18px;
    min-width: 170px;
    }
    .site-top.stickybar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5000;
    }
    .sticky-nudge {
        margin-top: 30px;
    }
    .site-header {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 9;
        background: #fff;
        -moz-transition: all 0.25s ease-out; -webkit-transition: all 0.25s ease-out; transition: all 0.25s ease-out;
    }
    .site-header .container {
        background: none;
        padding-top: 15px;
        padding-bottom: 15px;
        -moz-transition: all 0.25s ease-out; -webkit-transition: all 0.25s ease-out; transition: all 0.25s ease-out;
    }
    .site-header.site-header-2 {
        position: relative;
    }
    .site-header.site-header-2 .container {
        padding-top: 60px;
        padding-bottom: 30px;
    }
    .site-header.shift_the_nav {
        box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.08);
        opacity: .98;
        padding-bottom: 0 !important;
        position: fixed;
    }
    .shift_the_nav .container .site-title {
        font-size: 60px;
    }
    .site-branding {
        text-align: center;
    }
    .site-title {
        margin: 0;
        font-size: 80px;
        font-family: Paradise, serif;
        font-weight: 400 !important;
        line-height: 1;
        color: #000;
        text-transform: none;
        letter-spacing: 0;
        /*
        overflow: hidden;
        white-space: nowrap;
        */
    }
    .site-title img {
        margin: 0 auto;
        display: block;
        max-width: 100%;
        height: auto;
    }
    .site-title a {
        color: #000;
    }
    .site-title a:hover,
    .site-title a:focus {
        text-decoration: none;
    }
    .site-description {
        color: #444;
        font-size: 15px;
        font-weight: 400;
        line-height: 1.5;
        margin: 10px auto 0;
        font: 10px Montserrat, sans-serif;
        letter-spacing: 2px;
        text-transform: uppercase;
    }
    
    .header_section_bottom_right #main_menu_under_header {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
    }
    
    #header_widget_section {
        padding: 10px 0;
    }
    
    #ad-area-2 {
        padding: 20px 0;
    }
    
    #ad-area-2 .widget {
        margin-bottom: 35px;
    }
    #widget_area_before_first {
        padding-bottom: 30px;
    }
    

    .container 
    {  display:flex;
        flex-direction: row;}


.firstcolumn {
align-items: center;
width:50%;
margin-left:100px;}

img {max-width: 100%; max-height: 90%;}

#img1 {width:90%;height:90%;
margin-top:70px; position:center;}

h2 {font-size: 34px; color:rgb(105, 103, 103);
    width: 90%; 
   text-align: center; 
   line-height: 0.1em;
   margin: 10px 0 20px;
   margin-top: 80px; 
font-family: Montserrat, sans-serif;
font-weight: 100;
letter-spacing: 3px;
border-bottom: 1px solid rgb(105, 103, 103);
   
 } 
 
 h2 span { 
     background:#fff; 
     padding:0 10px; 
}
 
.secondcolumn {
width:40%;
margin-left: 10px;
margin-top:100px;
padding: 50px;}

p {
    color:rgb(84, 82, 82);
font-size: 30px;
margin-bottom:10px;
font-family: Montserrat, sans-serif;}
#para2 {color:#444;
font-size: 24px;
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}